@tailwind base;
@tailwind components;
@tailwind utilities;

.containerrr {
    height: 100%;
    margin: 0;
    padding: 0;
    flex-grow: 1;
}
@media screen and (max-width: 1000px) {
    .slotbody {
        min-height: 78.5vh;
    }
}